* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f5b87f, #ffffff);
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

form .login {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

form label {
  margin-bottom: 35px;
}

form label .fa-solid {
  font-size: 20px;
  color: #f5b87f;
  margin-right: 10px;
}

form label input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px #f5b87f;
  padding: 0 5px;
  font-size: 18px;
}

form label input::placeholder {
  color: rgba(37, 37, 37, 0.5);
}

form .link {
  color: #f5b87f;
  margin-bottom: 15px;
}

.btn-login {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #f5b87f, #e4842b);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.adopt-principal {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #f5b87f;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px #d87415;
  border-radius: 15px;
}

.adopt {
  margin: 0 auto;
  width: 23%;    
  display: flex;
  flex-direction: column;
  background: #f5b87f;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px #d87415;
  border-radius: 15px;
}

.adopt h2 {
  margin-bottom: 8px;
}

.adopt input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px #f5b87f;
  padding: 0 5px;
  font-size: 18px;
  border-color: #f79840;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

section div h2{
    color: #ffffff;
    margin-top: 15px;
}

/* Para hacerle zoom a las imagenes*/
.image-container {
  position: relative;
  text-align: center;
}

.back-btn-container {
  position: absolute;
  justify-content: center;
  z-index: 1;
}

/*ALTERNATIVA*/

/*
.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
*/

/**/


.back-btn-container button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
}

.back-btn-container button:hover {
  background-color: #555;
}

.image-container img {
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
}

.image-container.zoomed img {
  transform: scale(2);
}
/**/

.btn-adopt {
  margin-top: 15px;
  color: #f79840;
  border: none;
  background: linear-gradient(to right, #ffffff, #ffe4cb);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  border-color: #f79840;
}

.btn-adoption {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #f5b87f, #e4842b);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

form .adopt {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

form .adopt {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

.success {
  margin: 0 auto;
  width: 50%;    
  display: flex;
  flex-direction: column;
  background: #f5b87f;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 5px 10px #d87415;
  border-radius: 15px;
}

.btn-success {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #f5b87f, #e4842b);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  margin-top: 80px;
}